<template>
  <nav
    class="hidden sm:flex w-full justify-between bg-blue-600 text-black"
  >
    <article class="flex flex-row">
      <router-link
        v-for="(path, key, index) in PathsNames"
        :key="index"
        :to="path"
        :class="`py-5 px-5 ${isCurrentPath(path) ? 'bg-white' : 'bg-blue-600'}`"
        :disabled="!isCurrentPath(path)"
        >{{ RoutesNames[key] }}</router-link
      >
    </article>
  </nav>
</template>

<script setup lang="ts">
import { useRoute } from "vue-router";
import RoutesNames from "@/router/routes-name";
import PathsNames from "@/router/paths-name";

const route = useRoute();
const isCurrentPath = (pathName) => {
  return pathName === route.path;
};
</script>

<style scoped lang="postcss">
a {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
</style>