<script setup>
  import { ref, computed } from 'vue';

  const msg = ref('Hello World!')

  const questions = ref([
    {
      "question":"What is 1 + 2 ?",
      "answer":1,
      "options": [
        "1",
        "3",
        "5",
        "-1"
      ],
      "selected": null
    },
    {
      "question":"What is 2 - 3 ?",
      "answer":3,
      "options": [
        "1",
        "3",
        "5",
        "-1"
      ],
      "selected": null
    },
    {
      "question":"What is 5 / 5 ?",
      "answer":0,
      "options": [
        "1",
        "3",
        "5",
        "-1"
      ],
      "selected": null
    },
    {
      "question":"What is 3 + 2 ?",
      "answer":2,
      "options": [
        "1",
        "3",
        "5",
        "-1"
      ],
      "selected": null
    }
  ]);
	const isQuizCompleted = ref(false);
  const currentQuestion = ref(0);
  const score = computed(() =>{
    let value = 0;
    questions.value.map(q =>{
      if (q.answer == q.selected) value++;
    })
    return value;
  });
  const getCurrentQuestion = computed(() => {
    console.log(currentQuestion.value);
    let question = questions.value[currentQuestion.value];
    return question;
  });
  const nextQuestion = () => {
    console.log(`index of current question : ${currentQuestion.value}`);
    isQuizCompleted.value = currentQuestion.value === questions.value.length - 1;
    if (! isQuizCompleted.value)	currentQuestion.value++;
  };
  const setAnswer = (value) => {
    if(questions.value[currentQuestion.value].selected === value){
      questions.value[currentQuestion.value].selected = null;
    }else{
      questions.value[currentQuestion.value].selected = value;
    }
  };
</script>

<template>
  <main id="app">
    <h1>
        The Quiz
    </h1>
    <section class="quiz" v-if="!isQuizCompleted">
      <article class="quiz-info">
        <h3 class="question">{{ getCurrentQuestion.question }}</h3>
      </article>

      <article class="options">
        <p
          v-for="(option, index) in getCurrentQuestion.options" 
          :class="`option ${questions[currentQuestion].selected===index?'selected':''}`"
          @click="setAnswer(index)"
          >
          {{ option }}
        </p>
      </article>

      <button 
        @click="nextQuestion" 
        :disabled="getCurrentQuestion.selected == null">
        {{ 
          getCurrentQuestion.index == questions.length - 1 
            ? 'Finish' 
            : getCurrentQuestion.selected == null
              ? 'Select an option'
              : 'Next question'
        }}
      </button>
    </section>

    <section v-else>
      <h2>You have finished the quiz!</h2>
      <p>Your score is {{ score }}/{{ questions.length }}</p>
    </section>
  </main>
</template>

<style>
  :root{
    --main-bg-color: #0047b3;
  	--secondary-bg-color: #002966;
    --ternary-bg-color: #0066ff;
    --quaterny-bg-color: #0047b3;
    --quinary-bg-color: #4d94ff;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  body {
    background-color: var(--main-bg-color);
    color: #FFF;
  }
  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    width: 100vw;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .quiz {
    background-color: var(--secondary-bg-color);
    padding: 1rem;
    width: 100%;
    max-width: 640px;
  }
  .quiz-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .quiz-info .question {
    color: #8F8F8F;
    font-size: 1.25rem;
  }
  .quiz-info.score {
    color: #FFF;
    font-size: 1.25rem;
  }
  .options {
    margin-bottom: 1rem;
  }
  .option {
    padding: 1rem;
    display: block;
    background-color: var(--ternary-bg-color);
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #fff;
  }
  .option:hover {
    background-color: var(--quaterny-bg-color);
  }
  .option:last-of-type {
    margin-bottom: 0;
  }
  .selected{
    background-color: var(--quinary-bg-color);
  }
  button {
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #2d213f;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-radius: 0.5rem;
  }
  button:disabled {
    opacity: 0.5;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  p {
    color: #8F8F8F;
    font-size: 1.5rem;
    text-align: center;
  }
</style>
